body {
  margin: 0;
  padding: 0;
  user-select: none; /*запрещает выделять символы*/
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #574D59;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  max-width: 300px;
  padding: 5px;
  border: 3px solid #aaa;
  border-radius: 5px;
  background: #0F3C3C;
  box-shadow: 0 0 20px #0F3C3C;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #6CB0B0;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 0 0 3px #6CB0B0;
  cursor: pointer;
}
.item:hover {
  opacity: 0.5;
}
.item:active {
  background: #736046;
}
form {
  max-width: 100%;
}
input {
  height: 60px;
  border: none;
  border-radius: 5px;
  outline: none;
  text-align: right;
  font-size: 20px;
}
.input {
  grid-column: 1/-1;
  padding: 0;
}
.clean {
  grid-column: 1/3;
  background: #2F3E4A;
  color: #A485B5;
}
.back {
  grid-column: 3/-1;
}
.equal {
  grid-row: 6/8;
  grid-column: 4;
  background: #2F3E4A;
  color: #A485B5;
}
.zero {
   grid-column: 1/3;
}